/* common to all pages */
*{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fbe9d0;
}
.common-in-page{
    display: flex;
}
.common-in-page > img{
    width: 100px;
    height: auto;
}
.common-in-page > div {
    font-weight: 900;
    padding: 0px auto;
    margin: 0 0;
    align-content: center;
}
.common-in-page > div > .title {
    color: #e74833;
    font-size: 39px;
    margin: 0 auto;
}
.common-in-page > div > .subtitle {
    color: #244855;
    margin: 0;
}
/* for index.html */
.index-main > ul > li > a{
    color: black;
    text-decoration: none;
}
/* for lass.html */
.subheading{
    display: flex;
    justify-content: space-between;
    background-color: #244855;
    color: white;
    border-radius: 10px;
}
.subheading.title {
    margin: 0;
    padding: 10px 50px;
    
}
.subheading.homebtn {
    align-self: center;
    text-decoration: none;
    color: white;
    background-color: #e74833;
    padding: 10px 30px;
    margin-right: 10px;
    border-radius: 10%;
    transition: border-radius 0.5s background-color 0.5s color 0.5s;
}
.subheading.homebtn:hover{
    border-radius: 20%;
    background-color: white;
    color: #e74833;
}
.info{
    border: #244855 solid 2px;
    padding-left: 14px;
    padding-top: 7px;
    line-height: 31px;
}
.info > div > strong{
    font-weight: 600;
    color: #e74833;
}
.info > h2{
    font-weight: 500;
}
.info > img{
    align-content: center;
    width: 700px;
    height: auto;
}